In [7]:
# import numpy as np
import numpy as np

# import pandas 
import pandas as pd

# import seaborn 
import seaborn as sns

# import matplotlib
import matplotlib.pyplot as plt

# data structures

## Basic Datatype

### List

In [8]:
# Create a list 
l1 = [2,4,6,8,10]

In [9]:
l2 = ['a','b','c']

### Dictionary

In [11]:
# Create a dictionary
d1 = {'name': ['stuti','kashish','Rahul'],
     'marks': [80,70,95],
      'ages':[35,40,45]
     }

### Data Frame

In [12]:
df_dummy = pd.DataFrame(d1)

In [13]:
df_dummy

      name  marks  ages
0    stuti     80    35
1  kashish     70    40
2    Rahul     95    45

### Series

In [14]:
# create a series
series_1 = pd.Series(l1)

In [15]:
series_1

0     2
1     4
2     6
3     8
4    10
dtype: int64